<div class="content_card">
    <h1 class="tittle">@ViewString.Keys["ResetLogin"]</h1>
    <div class="anim_reset animation"></div>
    <p class="text">@ViewString.Keys["MsResetLogin"]</p>
    @if(alerta != "")
    {
        <div class="alert_bottom">
            <p class="text_alert">@ViewString.Keys[alerta]</p>
        </div>
    }
</div>