@page "/TramitesServicios/Secretarias/Editar/{idSecretaria:int}"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <CityApp.Client.Components.CardEditarSecretariaComponents.CardEditarSecretaria idSecretaria="@idSecretaria"></CityApp.Client.Components.CardEditarSecretariaComponents.CardEditarSecretaria>
</div>

@code{
    [Parameter] public int idSecretaria { get; set; } = 0;
}