@page "/TramitesServicios/Secretarias/Nueva"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <CityApp.Client.Components.CardNuevaSecretariaComponents.CardNuevaSecretaria></CityApp.Client.Components.CardNuevaSecretariaComponents.CardNuevaSecretaria>
</div>
