@page "/TramitesServicios/Secretarias"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <CityApp.Client.Components.TablaSecretariaComponents.TablaSecretaria></CityApp.Client.Components.TablaSecretariaComponents.TablaSecretaria>
</div>
