@page "/Turismo/LugarTuristico/Editar/{idLugartTuristico:int}"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <CityApp.Client.Components.CardEditarLugarturisticoComponents.CardEditarLugarturistico idLugarTuristico="@idLugartTuristico"></CityApp.Client.Components.CardEditarLugarturisticoComponents.CardEditarLugarturistico>
</div>
