@page "/Restaurar/IntentosAcceso/{Token}"

<div class="content_page">
    <div class="fondo_1"></div>
    <div class="fondo_2"></div>
    <div class="fondo_3"></div>
    <CityApp.Client.Components.CardResetInicioSesionComponents.CardResetInicioSesion Token="@Token"></CityApp.Client.Components.CardResetInicioSesionComponents.CardResetInicioSesion>
</div>
