.content_loading {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 2rem auto;
}

.text_plano {
    font-size: 1.2rem;
    text-align: center;
    width: 85%;
    margin: 1rem auto;
}
