@page "/Publico/Noticias/Noticia/{idNoticia:int}"

<div class="content_page">
    <div class="fondo_1"></div>
    <div class="fondo_2"></div>
    <div class="fondo_3"></div>
    <CityApp.Client.Components.ViewNoticiaComponents.ViewNoticia idNoticia="@idNoticia"></CityApp.Client.Components.ViewNoticiaComponents.ViewNoticia>
</div>