<div class="content_map">
    <div class="grid_3_map">
        <div class="col_grid span_2">
            @if(reportes != null)
            {
                <div class="map" id="myMap"></div>
            }
        </div>
        <div class="col_grid">
            <div class="content_identificadores">
                <h2 class="titles">Simbología</h2>
                <h3 class="sub_title">Estatus del reporte</h3>
                <div class="grid_2">
                    <label class="text_description color_1"><span>Reportado</span></label>
                    <label class="text_description color_2"><span>En proceso</span></label>
                    <label class="text_description color_3"><span>Resuelto</span></label>
                    <label class="text_description color_4"><span>Falsa alarma</span></label>
                </div>
                <h3 class="sub_title">Tipo de reporte</h3>
                <div class="grid_2">
                    <div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Lampara fundida.png" />
                        <label class="text_description _auto">Lámpara fundida</label>
                    </div>
                    <div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Bache.png" />
                        <label class="text_description _auto">Bache</label>
                    </div>
                   @* <div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Animal muerto.png" />
                        <label class="text_description _auto">Animal muerto</label>
                    </div>*@
                    @*<div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Grafiti.png" />
                        <label class="text_description _auto">Grafiti</label>
                    </div>*@
                    @*<div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Semaforo con mal funcionamiento.png" />
                        <label class="text_description _auto">Semaforo con mal funcionamiento</label>
                    </div>*@
                    @*<div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Obstruccion de carretera.png" />
                        <label class="text_description _auto">Obstruccion de carretera</label>
                    </div>*@
                    @*<div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Señal de transito dañada.png" />
                        <label class="text_description _auto">Señal de transito dañada</label>
                    </div>*@
                    @*<div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Fuga de agua.png" />
                        <label class="text_description _auto">Fuga de agua</label>
                    </div>*@
                    <div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Alcantarilla sin tapa.png" />
                        <label class="text_description _auto">Áreas verdes</label>
                    </div>
                    @*<div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Cables caidos.png" />
                        <label class="text_description _auto">Cables caidos</label>
                    </div>*@
                    <div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Poste de luz caido.png" />
                        <label class="text_description _auto">Árbol caído</label>
                    </div>
                    @*<div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Deslabe.png" />
                        <label class="text_description _auto">Basura</label>
                    </div>*@
                    <div class="content_flex">
                        <img class="img_tipo_reporte" src="PushPoints/FalsaAlarma/Otros.png" />
                        <label class="text_description _auto">Otros</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

