@page "/Predios/Descuentos"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <CityApp.Client.Components.TablaDescuentosPrediosComponents.TablaDescuentosPredios></CityApp.Client.Components.TablaDescuentosPrediosComponents.TablaDescuentosPredios>
</div>