@page "/Predios/Historicos"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <CityApp.Client.Components.TablaHistoricosPrediosComponents.TablaHistoricosPredios></CityApp.Client.Components.TablaHistoricosPrediosComponents.TablaHistoricosPredios>
</div>