@page "/RutasRecolecciones/Editar/{idRutaRecoleccion:int}"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <CityApp.Client.Components.CardEditRutaRecoleccionComponents.CardEditRutaRecoleccion idRutaRecoleccion="@idRutaRecoleccion"></CityApp.Client.Components.CardEditRutaRecoleccionComponents.CardEditRutaRecoleccion>
</div>

@code{
    [Parameter] public int idRutaRecoleccion { get; set; } = 0;
}
