@page "/RutasRecolecciones/Nueva"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <CityApp.Client.Components.CardNewRutaRecoleccionComponents.CardNewRutaRecoleccion></CityApp.Client.Components.CardNewRutaRecoleccionComponents.CardNewRutaRecoleccion>
</div>

