<div class="content_page">
    <div class="fondo_1"></div>
    <div class="fondo_2"></div>
    <div class="fondo_3"></div>
    <div class="content_oops">
        <div class="content_title">
            <h1 class="title">@ViewString.Keys["Oops"]</h1>
        </div>
        <div class="anim_oops animmation"></div>
        <div class="content_texto">
            <p class="text_subtitle">@ViewString.Keys["OopsTexto1"]</p>
            <p class="text_plano">@ViewString.Keys["OopsTexto2"]</p>
        </div>
    </div>
</div>