@page "/SeguridadPublica/ContactosSeguridadPublica/Nuevo"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <CityApp.Client.Components.CardNuevoContactoSeguridadPublicaComponents.CardNuevoContactoSeguridadPublica></CityApp.Client.Components.CardNuevoContactoSeguridadPublicaComponents.CardNuevoContactoSeguridadPublica>
</div>