@page "/SeguridadPublica"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <div class="content_table">
        <div class="content_title">
            <h2 class="title">Seguridad Publica</h2>
        </div>
        <div class="content_grid_3">
            <div class="col_grid" @onclick="(() => IrMenu(0))">
                 <i class="fa-regular fa-calendar-check icono_menu"></i>
                <span>Citas</span>
            </div>
            <div class="col_grid" @onclick="(() => IrMenu(1))">
                <i class="fa-solid fa-clipboard icono_menu"></i>
                <span>Normatividad</span>
            </div>
            <div class="col_grid" @onclick="(() => IrMenu(2))">
                <i class="fa-solid fa-at icono_menu"></i>
                <span>Medios de Contacto</span>
            </div>
        </div>
    </div>
</div>