@page "/BolsaTrabajos/BolsasTrabajos/Historico"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <CityApp.Client.Components.TablaHistoricoBolsaTrabajoComponents.TablaHistoricoBolsaTrabajo></CityApp.Client.Components.TablaHistoricoBolsaTrabajoComponents.TablaHistoricoBolsaTrabajo>
</div>
