@page "/FueraServicio1"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <CityApp.Client.Components.TablaPagosComponents.TablaPagos></CityApp.Client.Components.TablaPagosComponents.TablaPagos>
</div>