<div class="content_table">
    <div class="content_title">
        <h2 class="title">@ViewString.Keys["EditSecretaria"]</h2>
    </div>
    <div class="content_grid_form">
        <div class="content_relative">
            <labal class="text_plano">Secretaría:</labal>
            <input type="text" class="input_form" placeholder="@ViewString.Keys["secr"]" value="@secretaria" @onchange="TxtSecretaria"/>
            @if(errorSecretaria != "")
            {
                <div class="alert_input">
                    <p class="text_alert">@ViewString.Keys[errorSecretaria]</p>
                </div>
            }
        </div>      
    </div>
        <div class="content_relative">
            <button class="button_sumit" @onclick="ActualizarSecretaria">
                <span>Editar</span>
            </button>
        </div> 
</div>
    

