@page "/Publico/Eventos/Evento/{idAgenda:int}"

<div class="content_page">
    <div class="fondo_1"></div>
    <div class="fondo_2"></div>
    <div class="fondo_3"></div>
    <CityApp.Client.Components.ViewAgendaComponents.ViewAgenda idAgenda="@idAgenda"></CityApp.Client.Components.ViewAgendaComponents.ViewAgenda>
</div>