<div class="content_flex">
    <h3 class="text_plano">Inicie sesión en facebook para activar la publicación automática</h3>
    <button class="btn_facebook" @onclick="obtencionDatosFB">Iniciar sesión <i class="fab fa-facebook icono"></i></button>
</div>
