.content_flex {
    width: 100%;
    display: flex;
    margin: 1vw auto;
    padding: 1vw;
}

.text_plano {
    font-size: 1.5vw;
    margin: 0;
}

.btn_facebook {
    background-color: #2900b5;
    border: none;
    padding: .5vw 2vw;
    margin: 0;
    margin-left: auto;
    display: flex;
    color: #fff;
}

.btn_facebook i {
    margin: auto 0;
    margin-left: 1vw;
}