@page "/Validar/Correo/{Token}"

<div class="content_page">
    <div class="fondo_1"></div>
    <div class="fondo_2"></div>
    <div class="fondo_3"></div>
    <CityApp.Client.Components.CardValidarCorreoComponents.CardValidarCorreo Token="@Token"></CityApp.Client.Components.CardValidarCorreoComponents.CardValidarCorreo>
</div>