@page "/Eventos/Nuevo"

<CityApp.Client.Shared.NavBar.NavBar></CityApp.Client.Shared.NavBar.NavBar>

<div class="content_page">
    <CityApp.Client.Shared.BarMenu.BarMenu></CityApp.Client.Shared.BarMenu.BarMenu>
    <CityApp.Client.Components.CardNuevaAgendaComponents.CardNuevaAgenda></CityApp.Client.Components.CardNuevaAgendaComponents.CardNuevaAgenda>
</div>