<div class="content_modal">
    <div class="card_modal">
        <button class="btn_edit icono_absolut" @onclick="(() => OpenCloseModal.InvokeAsync())">
            <i class="far fa-times-circle"></i>
            <span>Cerrar</span>
        </button>
        <h2 class="title">Normatividad</h2>
        <iframe src="@rutaBase" style="width:80%; height:75vh; margin: 1vw auto;" frameborder="0"></iframe>
    </div>
</div>
